<div>
  <a routerLink="/page-1">Page 1</a>&nbsp;|&nbsp;
  <a routerLink="/page-2">Page 2</a>&nbsp;|&nbsp;
  <a (click)="navigateToPage3()" href="javascript:void(0);">Page 3 </a>
</div>

<!--<h1>Calculator</h1>-->
<!--<app-my-first-component></app-my-first-component>-->

<!--<h1> Hello Angular ! {{ clickCount }}</h1>-->
<!--<h3>Last Created Element: {{ lastCreatedElement }}</h3>-->


<!--  [inputValue]="'Andre Septian - Hello'"-->
<!--  (childClicked)="handleChildClick()"-->
<!--  (elementCreated)="displayLastCreatedElement($event)"-->
<!--&gt;</app-my-first-component>-->

<!--<app-my-first-component-->
<!--&lt;!&ndash;  [inputValue]="'ITC - Hello'"&ndash;&gt;-->
<!--&lt;!&ndash;  (childClicked)="handleChildClick()"&ndash;&gt;-->
<!--&lt;!&ndash;  (elementCreated)="displayLastCreatedElement($event)"&ndash;&gt;-->
<!--&gt;</app-my-first-component>-->

<router-outlet></router-outlet>
